PuntosRicardo, PuntosPablo, Columnas {
    layout: horizontal;
    background: $boost;
    border: white;
}

Digits {
    border: white;
}

Tablero {
    border: green;
    height: 23;
}

Anotador {
    layout: horizontal;
    display: block;
    text-align: center;
}

Button {
    margin: 0 1;
}